---
---

$pattern: "{{ site.baseurl }}/images/pattern.png";
$screenshot-buttons: "{{ site.baseurl }}/images/screenshot-buttons.svg";

$brand-color: linear-gradient(135deg, rgba(0,77,199,1) 0%, rgba(0,146,255,1) 50%, rgba(255,255,255,1) 100%);
$html-background-color: rgb(0,77,199);
$secondary-brand-color: rgba(255,255,255,1) 100%;
$middle-gradient-color: rgba(0,146,255,1) 50%;

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

$section-rotation: 5deg;

@import "elements";
@import "layout";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";
@import "cloudcannon";
